.navbar {
    background-color: black;
}

.ken-johnson {
    color: white;
    font-size: x-large;
    font-weight: 400;
}

.ken-johnson:hover {
    color: grey;
}

.nav-links-navbar {
    line-height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 8px;
    border: solid;
    border-width: thin;
    color: white;
    border-color: white;
    background-color: black;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
}

.nav-links-navbar:hover {
    background-color: white;
    color: black;
    font-weight: 500;
    border-color: white;
}

.icons-navbar {
    height: 50px;
    margin-top: auto;
    margin-right: 30px;
}