div {
  --time-slide: 2s;
  --time-name: calc(var(--time-slide) + 4s);
  --time-name-color: calc(var(--time-slide) + 2s);
  --time-intro: calc(var(--time-name) + 2s);
  --time-nav: calc(var(--time-intro) + 3s);
  max-width: 100%;
  overflow-x: hidden;
}

.left-half {
  animation: slide var(--time-slide);
  background-color: black !important;
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

@keyframes slide {
  0% {
    width: 100%;
  }
  100% {
    width: 20%;
  }
}

.nav-links {
  animation: nav-appear var(--time-nav);
  display: block;
  height: 45px !important;
  line-height: 40px;
  width: 100px !important;
  text-align: center;
  border-radius: 8px;
  border: solid;
  border-width: thin;
  color: white;
  border-color: white;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60%;
}

@keyframes nav-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-links:hover {
  background-color: var(--theme-color);
  color: black;
  font-weight: 500;
  border-color: black;
  transition: 1s;
}

.icons {
  animation: nav-appear var(--time-nav);
  height: 50px;
  margin-left: 15%;
  margin-top: 90%;
  display: inline-block;
}

.contact {
  animation: nav-appear var(--time-nav);
  color: white;
  text-align: center;
  margin-top: 30%;
  border-radius: 5px;
  border-color: white;
}

.right-half {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.desk-pic {
  height: 100%;
}

.name {
  animation: appear var(--time-name) ease, 
    color 5s var(--time-name-color) ease infinite alternate;
  color: white;
  font-size: 80px;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  justify-content: center;
}

.intro {
  animation: appear var(--time-intro) ease;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 55%;
  left: 43%;
  transform: translate(-35%, -50%);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes color {
  0% {
    color: white;
  } 
  100% {
    color: var(--theme-color);
  }
}

.intro2 {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
}

